.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__emptyReminder {
  margin-top: 10px;
  margin-right: 10px;
}

.checkout__title {
  width: 100%;
  margin-right: 10px;
  /* border-bottom: 1px solid lightgray; */
}

.checkout {
  display: flex;
  padding: 30px;
  background-color: white;
  height: max-content;
  justify-content: space-between;
}

.checkout__right {
  align-items: end;
}

.checkout__minHeight {
  min-height: 550px;
}

@media only screen and (min-width: 1300px) {
  .checkout__minHeight {
    min-height: 700px;
  }
  .checkout__title {
    width: 910px;
  }
}
